<h1 id="edit-chatroom">Editing Chatroom</h1>

<%= render 'form', chatroom: @chatroom %>

<div class="edit-chatroom-buttons">
  <%= link_to 'Show', @chatroom %> |
  <%= link_to 'Back', chatrooms_path %>
</div>
