// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com


.posts_body_page{
	margin: auto;
	width: 720px;
	.posts_heading{
		text-align: center;
		margin-bottom: 35px;
		font-size: 50px;
	}
	.username_message_post{
		width: inherit;
		display: inline-block;
		text-align: center;
	}
	.username_post_page{
		font-size: 25px;
		padding-left: 25px;
	}
	.comments_post_page_heading{
		text-align: center;
	}
	.message_post_page{
		font-size: 25px;
	}
	.customize_post{
		width: 240px;
		margin-right: 0px;
		margin-left: auto;
		a{
			padding: 0px 5px;
			text-decoration: none;
			color: black;
		}
		a:hover{
			color: lightblue;
		}
	}
	.comments_post_page_heading{
		width: 100px;
		font-size: 20px;
		right: 2%;
	}
	.comments_post_page{
		li{
			list-style: none;
			width: inherit;
			display: block;
		}
	}
	.photo_with_comment{
		display: block;
	}
}
.show_post_page{
	width: 720px;
	margin: 0px auto 10px auto;
.message_show_page{
	text-align: center;
	font-size: 25px;
	}
.config_options{
	text-align: right;
	color: black;
	a{
		color: black;
		text-decoration: none;
	}
	a:hover{
		color: lightblue;
	}
}
}
.edit_post_page{
	width: 500px;
	margin: auto;
	text-align: center;
}





